* {
    margin: 0.5;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: red;
    color: green;
    font-family: "Poppins", sans-serif;
    min-height: 150vh;
}

header {
    font-size: 1 rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-list {
    min-width: 20%;
    list-style: none;
}

.music {
    margin: 0.2rem;
    background: white;
    color: black;
    font-size: 1 rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trash-btn,
.complete-btn {
    background: yellow;
    border: none;
    cursor: pointer;
    font-size: 1 rem;
}

.complete-btn {
    background: orange;
}